@charset "UTF-8";
:root,page {
	 --view-default-background: #344AC1;
	 --view-gray-background: #f0eeef;
	 --view-white-color: #FFFFFF;
}

// page {
// 	--view-default-background: #344AC1;
// 	--view-gray-background: #f0eeef;
// 	--view-white-color: #FFFFFF;
// }